<app-menu (toggleSidenav)="toogleSidenav()"></app-menu>

<mat-sidenav-container class="kalum-container"  autosize>
    <mat-sidenav #sidenav mode="over" class="kalum-sidenav" [opened]="isSidenavOpen()">
        <div class="profile-card">
            <div class="header-profile-card">
                <h2>'CAPACITATE'</h2>
                <h4>'El trabajo bien hecho'</h4>
            </div>
        </div>
        <mat-divider></mat-divider>
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content class="kalum-content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>    
</mat-sidenav-container>